#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
{% for server in groups[prometheus_node_exporter_group] %}
    - 192.168.3.153:9100
{% endfor %}
{% endif %}
{% for server in groups[prometheus_node_exporter_group] %}
  - job_name: 'hosts with priority high'
    scrape_interval: 60s
    static_configs:
      - targets: [{% for node in server %} '{{ node }}:9100' {% if not loop.last %}, {% endif %}{% endfor %}]
    relabel_configs:
     - source_labels: [__address__]
       regex: (.+):(\d+)
       replacement: ${1}
       target_label: hostname
     - target_label: productname
       replacement: 'hosts with priority high'
{% endif %}
